#footerul {
  margin-top: 3rem;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding: 0;
  display: block;
  margin-bottom: 2rem;
}
#footerul > li {
  margin: 3.5rem;
  display: inline;
}
#user {
  border: none;
  cursor: pointer;
}
#user:hover li {
  display: block;
}
#user li {
  display: none;
}
#user li:hover {
  border-bottom: 1px solid;
}
