* {
  margin: 0 auto;
  padding: 0 auto;
  text-decoration: none;
  list-style-type: none;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
}
a {
  color: black;
}

body {
  width: 1200px;
  background-color: #f9f7e8;
}
header {
  margin-top: 3rem;
  border-bottom: 1px solid #d5d5d5;
}
.hdiv {
  width: 30rem;
  display: flex;
  align-items: center;
}

.address {
  text-align: center;
}
.address > input {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  text-indent: 16px;
}
.address > button {
  box-sizing: border-box;
  height: 36px;
  width: 70px;
  background-color: white;
  border-radius: 10px;
}
#member {
  width: 350px;
  height: 150px;
  margin-right: 0;
}
.login {
  float: right;
  height: 80px;
  width: fit-content;
  text-align: center;
  display: flex;
}
.login > a:hover {
  font-size: 35px;
}
#login {
  width: 150px;
}
#user {
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
#user:hover li {
  display: block;
}
#user li {
  display: none;
}
#user li:hover {
  border-bottom: 1px solid;
}
.custom-size {
  font-size: 40px;
}

nav {
  clear: both;
}
#menu {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  padding-left: 0;
}
#menu li {
  float: left;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #cccccc;
}
#menu li:hover {
  cursor: pointer;
  transform: scale(1.3);
  border-radius: 5px;
}
