a {
  text-decoration: none;
  color: black;
}
#bdiv ul li:hover {
  font-size: 35px;
}
#adiv {
  height: 700px;
  margin-top: 20px;
  width: fit-content;
  margin-left: 0;
}
#bdiv {
  height: fit-content;
  width: 300px;
  margin-left: 0;
  border-bottom: 3px solid;
  padding-bottom: 40px;
}
#cdiv {
  font-size: 45px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px 0;
  border-bottom: 3px solid;
  font-weight: bold;
}
#bdiv ul {
  font-size: 35px;
  font-weight: 500px;
  margin-top: 20%;
}
#bdiv ul li {
  font-size: 25px;
  font-weight: 300;
  padding-top: 10px;
  transition: font-size 0.3s;
}
#ediv {
  width: 100%;
  display: flex;
}
#fdiv {
  width: 800px;
  height: 500px;
  margin-top: 10%;
}
#gdiv {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-top: 40px;
  margin-left: 0;
  width: fit-content;
}
#hdiv {
  margin-top: 20px;
  height: 200px;
}
#idiv {
  width: fit-content;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
#jdiv {
}
#pwddiv {
  text-align: center;
  margin-top: 100px;
}
#pwddiv input {
  width: 300px;
  border-radius: 5px;
}
#pwddiv button {
  border-radius: 5px;
}
